{% extends 'base_layout.html' %}
{%  load static from staticfiles %}

{% block content %}
<!-- banner -->
	<div class="banner1">
		<div class="container">
            {% include 'navbar.html' %}
		</div>
	</div>
<!-- //banner -->
<!-- about-top -->
<div class="agileits-about-top">
    <div class="container">
        <h3 class="w3ls_head"><span>Who </span>we are </h3>
        <p class="w3agile">Dial a house manager is a small - aiming to be medium and eventually large - corporate that opened its doors in October 2014. It was started by two friends and business partners who have a wealth of experience in hospitality, counseling (psychology), customer care and people management.</p>
        <p class="w3agile">We, the founders of Dial for a House Manager, too have gone through the “drama” of sending money with no show, the lack of respect, lack of professionalism and not forgetting the negligence and damages that happened at home among others. In addition to this, we understand that most of the employers at home are professionals who are exposed to high standards and are results-driven at their work environment and just by default expect the same of their house managers. We also have understood that you and I, who are occupied by our day to day businesses, do not have time to trains, orient and coach a house manager. Thus, the need for Dial for a House Manager.</p>
        <h4 class="w3ls_head"><span>Impact and who </span> our clients are:</h4>
        <p class="w3agile">So far, we have trained over 500 nannies and house managers from different parts of the world, and by default, exposing them to personal hygiene, financial management and savings, how to take advantage of NHIF and NSSF. We have trained them on the core job which is home management and child caring. We guarantee that you will see a difference with our employees.</p>
        <p class="w3agile">Our clients are high and medium end customers who believe in the value for their money.</p>
        <div class="agileinfo-top-grids">
            <div class="col-md-push-2 col-sm-4 wthree-top-grid">
                <h4>Our Vision </h4>
                <p>To be the ultimate house management, home care and hospitality services provider in Kenya and beyond.</p>
            </div>
            <div class="col-md-push-2 col-sm-4 wthree-top-grid">
                <h4>Mission Statement</h4>
                <p>To equip current and potential house helps into professional and self reliant house managers and nannies, teach them to be professional and trust worthy.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about-top -->
	<!-- services -->
	<section class="services" id="courses">
		<div class="container">
			<h2 class="w3ls_head"><span>Training </span>Programs</h2>
			<p class="w3agile">To maintain the high skill level of the house managers, we train them on the followig house management and life skills.</p>
			<div class="wthree-services-grids">
				<div class="col-sm-3 wthree-services">
					<div class="wthree-services-grid">
						<div class="wthree-services-info">
							<i class="fa fa-comment-o" aria-hidden="true"></i>
							<h4>Communication skills</h4>
							<div class="w3ls-border"> </div>
						</div>
						<div class="wthree-services-captn">
							<ul>
                                <li>Telephone skills</li>
                                <li>Communication techniques</li>
                                <li>Communication and ethics</li>
                            </ul>
						</div>
					</div>
				</div>
				<div class="col-sm-3 wthree-services">
					<div class="wthree-services-grid">
						<div class="wthree-services-info">
							<i class="fa fa-edit" aria-hidden="true"></i>
							<h4>Organisation</h4>
							<div class="w3ls-border"> </div>
						</div>
						<div class="wthree-services-captn">
							<ul>
                                <li>Scheduling of duties</li>
                                <li>Shopping list compilation</li>
                            </ul>
						</div>
					</div>
				</div>
				<div class="col-sm-3 wthree-services">
					<div class="wthree-services-grid">
						<div class="wthree-services-info">
							<i class="fa fa-heart" aria-hidden="true"></i>
							<h4>Specialized Care</h4>
							<div class="w3ls-border"> </div>
						</div>
						<div class="wthree-services-captn">
							<ul>
                                <li>First aid & CPR</li>
                                <li>HIV/AIDS awareness</li>
                                <li>Home (frail) care</li>
                            </ul>
						</div>
					</div>
				</div>
				<div class="col-sm-3 wthree-services">
					<div class="wthree-services-grid">
						<div class="wthree-services-info">
							<i class="fa fa-home" aria-hidden="true"></i>
							<h4>Household duties</h4>
							<div class="w3ls-border"> </div>
						</div>
						<div class="wthree-services-captn">
							<ul>
                                <li>Cleaning</li>
                                <li>Table and tray setting</li>
                                <li>Food preparation</li>
                                <li>Garment care</li>
                                <li>Home & personal safety and security</li>
                            </ul>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</section>
	<!-- //services -->
{% endblock %}