{% extends 'base_layout.html' %}
{%  load static from staticfiles %}

{% block content %}
<!-- banner -->
<div class="banner1">
    <div class="container">
        {% include 'navbar.html' %}
    </div>
</div>
<!-- //banner -->

<!-- gallery -->
<div class="container-fluid">
    <div class="row" id="gallery">
        <div class="col-xs-4 col-md-3" data-toggle="modal" data-target="#img20">
            <img src="{% static 'images/dhm20.jpeg' %}" alt="" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-4 col-md-3" data-toggle="modal" data-target="#img5">
            <img src="{% static 'images/dhm5.jpg' %}" alt="" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-4 col-md-3" data-toggle="modal" data-target="#img7">
            <img src="{% static 'images/dhm7.jpg' %}" alt="" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-4 col-md-3" data-toggle="modal" data-target="#img8">
            <img src="{% static 'images/dhm8.jpg' %}" alt="" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-4 col-md-3" data-toggle="modal" data-target="#img9">
            <img src="{% static 'images/dhm9.jpg' %}" alt="" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-4 col-md-3" data-toggle="modal" data-target="#img10">
            <img src="{% static 'images/dhm10.jpg' %}" alt="" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-4 col-md-3" data-toggle="modal" data-target="#img11">
            <img src="{% static 'images/dhm11.jpg' %}" alt="" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-4 col-md-3" data-toggle="modal" data-target="#img12">
            <img src="{% static 'images/dhm12.jpg' %}" alt="" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-4 col-md-3" data-toggle="modal" data-target="#img13">
            <img src="{% static 'images/dhm13.jpg' %}" alt="" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-4 col-md-3" data-toggle="modal" data-target="#img14">
            <img src="{% static 'images/dhm14.jpg' %}" alt="" class="img-responsive img-rounded">
        </div>
        <div class="col-xs-4 col-md-3" data-toggle="modal" data-target="#img15">
            <img src="{% static 'images/dhm15.jpg' %}" alt="" class="img-responsive img-rounded">
        </div>
    </div>
</div>

<!-- the modals -->
<div id="img20" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" style="color: #FFFFFF; font-size: 20px;">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{% static 'images/dhm20.jpeg' %}" alt="modal image" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>
<div id="img5" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{% static 'images/dhm5.jpg' %}" alt="modal image" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>
<div id="img7" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{% static 'images/dhm7.jpg' %}" alt="modal image" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>
<div id="img8" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{% static 'images/dhm8.jpg' %}" alt="modal image" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>
<div id="img9" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{% static 'images/dhm9.jpg' %}" alt="modal image" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>
<div id="img10" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{% static 'images/dhm10.jpg' %}" alt="modal image" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>
<div id="img11" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{% static 'images/dhm11.jpg' %}" alt="modal image" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>
<div id="img12" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{% static 'images/dhm12.jpg' %}" alt="modal image" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>
<div id="img13" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{% static 'images/dhm13.jpg' %}" alt="modal image" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>
<div id="img14" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{% static 'images/dhm14.jpg' %}" alt="modal image" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>
<div id="img15" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img src="{% static 'images/dhm15.jpg' %}" alt="modal image" class="img-responsive img-thumbnail">
        </div>
    </div>
</div>
<!-- //gallery -->
{% endblock %}