{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block content %}

    <!-- banner -->
	<div class="banner1">
		<div class="container">
            {% include 'navbar.html' %}
		</div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profiles</li>
          </ol>
        </nav>
	</div>
    <div>
        <ul>
            {% for employee in employees %}
                <li>{{ employee.name }}</li>
                <li>{{ employee.title }}</li>
                <li>{{ employee.bio }}</li>
                <img src="{{ employee.avatar }}" alt="avatar">
            {% endfor %}
        </ul>
    </div>
<!-- //banner -->



{% endblock %}
