{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% load rest_framework %}

{% block content %}

    <!-- banner -->
	<div class="banner1">
		<div class="container">
            {% include 'navbar.html' %}
		</div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profiles</li>
          </ol>
        </nav>
	</div>
    <div>
        <ul>
            {% for SavedEmployeess in SavedEmployees %}
                <li>{{ SavedEmployees.name }}</li>
                <li>{{ SavedEmployees.title }}</li>
                <li>{{ SavedEmployees.bio }}</li>
                <img src="{{ SavedEmployees.avatar }}" alt="avatar">
            {% endfor %}
        </ul>
    </div>
<!-- //banner -->



{% endblock %}
